body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  border-collapse: collapse;
  border: 1px solid white;
  background-color: black;
  color: white;
  text-align: center;
}

td {
  border-collapse: collapse;
  border: 0.7px solid white;
  padding: 40px;
}

tr {
  border-collapse: collapse;
  border: 6px solid white;
}





